* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
}
#navlink {
    text-decoration: none;
}
.li-nav {
    margin: 2em;
    display: flex;
    justify-content: space-around;
}