{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Simulator</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="navbar">
        <ul class="li-nav">
            <a href="{% url 'app:index' %}" id="navlink">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'app:index' %}" id="navlink">{{ request.user }}</a>
            {% else %}
                <a href="{% url 'app:register' %}" id="navlink">Register</a>
            {% endif %}
            
        </ul>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>