{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1>Business Simulator</h1>
    <h3>Chat room</h3>
    <input type="text" size="100" id="room-name-input"><br>
    <input type="button" value="Enter" id="room-name-submit">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomname = document.querySelector('#room-name-input').value;
            window.location.pathname = '/app/' + roomname + '/'
        };
    </script>
{% endblock %}